@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f059bda;
}

.nav {
    width: 75%;
    background: #393e46;
    justify-content: center;
    align-content: center;
}

.nav-flooter h1 {
    color: #eee;
    text-shadow: 0.1em 2px 0.2em #4b7bec;
    padding: 20px;
    text-align: center;
    font-size: 36px;
}

.calculator {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.calculator span {
    width: 100%;
    height: 62px;
    line-height: 61px;
    text-align: center;
    background: #eee;
    font-size: 1.2em;
    color: #333;
    border: 0.3px solid rgba(0, 0, 0, 0.486);
    font-weight: 500;
}

.calculator span:hover {
    cursor: pointer;
    border: 1px solid #4b7bec;
}


.calculator .operation {
    background: #393e46;
    color: #fff;
}

.calculator .clear {
    background: #fd7272;
    color: #fff;
}

.calculator .inputArea {
    grid-column: span 4;
    height: 100px;
    padding: 20px 10px;
    outline: none;
    border: none;
    font-size: 1.7em;
}

.calculator .plus {
    grid-row: span 2;
    height: 124px;
    line-height: 120px;
}

.calculator .equal {
    width: 100%;
    grid-column: span 2;
    background: #4b7bec;
    font-size: 1.8em;
}

#history {
    width: 75%;
    height: 371.2px;
    overflow-y: scroll;
    font-size: 1.1em;
    background: #304983;
    box-sizing: border-box;
    padding: 10px 20px;
}

#history::-webkit-scrollbar {
    width: 0;
}

#history h3 {
    padding: 10px 0px;
    font-size: 1.2em;
}

#history p:last-child {
    font-size: 1.0em;
    font-weight: 500;
    color: #eee;
}