@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #182c61;
}

.nav {
    position: absolute;
    height: 60px;
    width: 521px;
    text-align: center;
    background: #393e46;
    top: 27.6%;
}

.nav .nav-flooter {
    position: relative;
    top: 10px;
    bottom: 10px;
}

.nav-flooter h1 {
    color: #eee;
    text-shadow: 0.1em 2px 0.2em #4b7bec;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
    font-size: 36px;
}

.calculator {
    width: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.calculator span {
    width: 61px;
    height: 61px;
    line-height: 61px;
    text-align: center;
    background: #eee;
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
}

.calculator span:hover {
    cursor: pointer;
    border: 1px solid #4b7bec;
}


.calculator .operation {
    background: #393e46;
    color: #fff;
}

.calculator .clear {
    background: #fd7272;
    color: #fff;
}

.calculator .inputArea {
    grid-column: span 4;
    padding: 20px 10px;
    outline: none;
    border: none;
    font-size: 1.3em;
}

.calculator .plus {
    grid-row: span 2;
    height: 122px;
    line-height: 120px;
}

.calculator .equal {
    width: 122px;
    grid-column: span 2;
    background: #4b7bec;
    font-size: 1.8em;
}

#history {
    width: 280px;
    height: 371.2px;
    overflow-y: scroll;
    font-size: 1.1em;
    background: #4b7bec;
    box-sizing: border-box;
    padding: 10px 20px;
}

#history::-webkit-scrollbar {
    width: 0;
}

#history h3 {
    padding: 10px 0px;
    font-size: 1.2em;
}

#history p:last-child {
    font-size: 1.0em;
    font-weight: 500;
    color: #eee;
}



@media (max-width: 594px) {

    .nav {
        position: absolute;
        height: 60px;
        width: 100%;
        text-align: center;
        background: #393e46;
        top: 13.2%;
    }

    .nav .nav-flooter {
        position: relative;
        top: 15px;
    }

    .nav-flooter h1 {
        color: #eee;
        text-shadow: 0.1em 0.2em 0.2em #4b7bec;
        font-size: 28px;
    }

    #history {
        max-width: 135px;
        height: 371.2px;
        overflow-y: scroll;
        font-size: 12px;
        background: #4b7bec;
        box-sizing: border-box;
        padding: 20px 5px;
    }

    #history p:last-child {
        font-size: 12px;
        font-weight: 300;
        color: #eee;
    }
}